<div class="owner-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/owner-profile-placeholder.jpg" alt="Card image cap">
    <div id="card-text-body" class="owner-card-body ">
        <h4 class="card-title">{{{firstName}}}</h4>
        <p class="owner-card-middle-text">{{{lastName}}}<a href="#" class="owner-card-btn btn btn-primary">View Profile</a></p>
        <p class="card-text">{{{phoneNumber}}}</p>
    </div>
</div>