<div class="pet-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/pet-placeholder.jpg" alt="Card image cap">
    <div id="card-text-body" class="card-body ">
        <h4 class="card-title">{{{firstName}}}</h4>
        <p class="card-middle-text">{{{species}}}<a href="#" class="card-btn btn btn-primary">View Profile</a></p>
        <p class="card-text">{{{age}}}</p>
    </div>
</div>