<body style="background-color: rgb(37, 37, 37);">
<div class="login-img-div">
    <img src="images/VETLOGO.svg" class="login-imgg" alt="vet-tech-text-logo">
</div>

<div class="login-card-body card border-warning mx-auto mt-5" >
         <h4 class="welcome-title card-title text-white text-center p-2">Welcome!</h5>
    <div class="card-body-div">
            <h6 class=" login-text card-subtitle text-white ">Please Login</h6>
            <form class="login-form p-2">
                <div>
                    <input class="login-input rounded p-1" type="email" id="email-for-login" placeholder="Enter E-mail">
                </div>

                <div>
                    <input class="login-input rounded mt-2 p-1" type="password" id="password-for-login" placeholder="Enter Password">
                </div>

                <div>
                    <button type="submit" class=" login-btn btn btn-outline-warning mt-2">Login</button>
                </div>
            </form>
    </div>
</div>
</div>
</div>
</body>

<script src="./js/login.js"></script>