<div class="card border-warning" style="width: 21rem; height: 21rem; background-color: #555555">
    <div class="card-body">
        <h4 class="card-title text-white text-center p-2">Welcome!</h5>
            <h6 class=" card-subtitle text-white p-2">Please Login</h6>
            <form class="login-form p-2">
                <div>
                    <input class="rounded" type="email" id="email-for-login" placeholder="Enter email">
                </div>

                <div>
                    <input class="rounded mt-2" type="text" id="password-for-login" placeholder="Enter password">
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-warning mt-2">Login</button>
                </div>
            </form>
    </div>
</div>
</div>
</div>

<script src="./js/login.js"></script>