<body style="background-color: rgb(76,72,72);">
<div>
    <img src="images/VETLOGO.svg" class="mx-auto d-block img-fluid login-img" alt="vet-tech-text-logo">
</div>

<div class="card border-warning mx-auto mt-5" style="width: 21rem; height: 17rem; background-color: #8a8a8a">
    <div class="card-body">
        <h4 class="card-title text-white text-center p-2">Welcome!</h5>
            <h6 class=" card-subtitle text-white p-2">Please Login</h6>
            <form class="login-form p-2">
                <div>
                    <input class="rounded p-1" type="email" id="email-for-login" placeholder="Enter email">
                </div>

                <div>
                    <input class="rounded mt-2 p-1" type="password" id="password-for-login" placeholder="Enter password">
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-warning mt-2">Login</button>
                </div>
            </form>
    </div>
</div>
</div>
</div>
</body>

<script src="./js/login.js"></script>