<section id="owners-dashboard">
    <h1> Owners </h1>
   
   <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{{owner_name}}}</h5>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">View</a>
    <a href="#" class="card-link">Go to Pets</a>
  </div>
</div>

</section>

<script src="../public/js/ownerdashboard.js"></script>

